<mat-tab-group
  class="group-tabs"
  animationDuration="220ms"
  mat-stretch-tabs="false"
  [selectedIndex]="selectedIndex"
  (selectedIndexChange)="selectedIndexChange.emit($event)"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label"><mat-icon>calendar_view_week</mat-icon> {{ 'groupTabs.planning' | translate }}</span>
    </ng-template>
    <div class="tab-panel">
      <ng-content select="[tab-planning]"></ng-content>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label"><mat-icon>groups</mat-icon> {{ 'groupTabs.pilgrims' | translate }}</span>
    </ng-template>
    <div class="tab-panel">
      <ng-content select="[tab-pilgrims]"></ng-content>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label"><mat-icon>flight</mat-icon> {{ 'groupTabs.flightsBus' | translate }}</span>
    </ng-template>
    <div class="tab-panel">
      <ng-content select="[tab-flights]"></ng-content>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label"><mat-icon>hotel</mat-icon> {{ 'groupTabs.hotels' | translate }}</span>
    </ng-template>
    <div class="tab-panel">
      <ng-content select="[tab-hotels]"></ng-content>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label"><mat-icon>credit_card</mat-icon> {{ 'groupTabs.paymentsCosts' | translate }}</span>
    </ng-template>
    <div class="tab-panel">
      <ng-content select="[tab-payments]"></ng-content>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label"><mat-icon>description</mat-icon> {{ 'groupTabs.documents' | translate }}</span>
    </ng-template>
    <div class="tab-panel">
      <ng-content select="[tab-documents]"></ng-content>
    </div>
  </mat-tab>
</mat-tab-group>
